@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

body {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: 'Playfair Display', serif;
}